@use 'styles/typography';
@use 'styles/mixins/layout';

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 28px;
    border-bottom: 1px solid var(--border);
    background-color: var(--surface-2);
}

.Header__title {
    @include typography.text-lg(var(--text));
    font-weight: 700;
}

.Header__rightSide {
    @include layout.centerY;
    gap: 16px;
}

.Header__buttonWrapper {
    @include layout.centerXY;
    gap: 8px;
}
