@use 'styles/mixins/layout';
@use 'styles/typography';

.TaskDetailTitle__taskName {
    @include typography.text-title;
    padding-block: 2px;
    cursor: pointer;
}

.TaskDetailTitle__titleEditInput {
    padding-block: 2px;
}

.TaskDetailTitle__titleEditInput input {
    @include typography.text-title;
}

.TaskDetailTitle__titleError {
    @include typography.text-error;
    margin-top: -8px;
    margin-bottom: 8px;
}
