@use 'styles/mixins/layout';
@use 'styles/mixins/breakpoints';

.ThemeSwitch {
    @include layout.centerXY;
    cursor: pointer;
    background-color: transparent;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    transition: all 0.2s;

    @include breakpoints.mobile {
        height: 34px;
        width: 34px;

        svg {
            width: 18px;
            height: 18px;
        }
    }
}

.ThemeSwitch__light {
    &:hover {
        background-color: var(--surface-3);
    }
}

.ThemeSwitch__dark {
    background-color: var(--surface-3);
}

.ThemeSwitch__iconLight {
    color: var(--text-2);
    transition: all 0.2s;

    .ThemeSwitch:hover & {
        color: var(--text-1);
    }
}

.ThemeSwitch__iconDark {
    color: var(--white);
}
