@use 'mixins/breakpoints';

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.5rem;
$font-size-title: 1.75rem;

@mixin text-xs($color: var(--text)) {
    font-size: $font-size-xs;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
    line-height: 1rem;
    color: $color;
}

@mixin text-sm($color: var(--text)) {
    font-size: $font-size-sm;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    color: $color;

    @include breakpoints.mobile {
        font-size: 0.8125rem;
        line-height: 1.125rem;
    }
}

@mixin text-md($color: var(--text)) {
    font-size: $font-size-md;
    font-family: 'Hanken Grotesk', sans-serif;
    line-height: 1.5rem;
    color: $color;

    @include breakpoints.mobile {
        font-size: 0.9375rem;
        line-height: 1.375rem;
    }
}

@mixin text-lg($color: var(--text)) {
    font-size: $font-size-lg;
    font-family: 'Hanken Grotesk', sans-serif;
    line-height: 1.5rem;
    color: $color;

    @include breakpoints.mobile {
        font-size: 1rem;
        line-height: 1.375rem;
    }
}

@mixin text-xl($color: var(--text)) {
    font-size: $font-size-xl;
    font-family: 'Hanken Grotesk', sans-serif;
    line-height: 1.625rem;
    color: $color;

    @include breakpoints.mobile {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

@mixin text-title($color: var(--text)) {
    font-size: $font-size-title;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    line-height: 2.25rem;
    color: $color;

    @include breakpoints.mobile {
        font-size: 1.375rem;
        line-height: 1.75rem;
    }
}

@mixin text-error {
    @include text-xs(var(--danger));
    margin-top: 4px;
}

@mixin text-stopwatch-time($color: var(--text)) {
    font-size: 2.875rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
    line-height: 3.5rem;
    color: $color;

    @include breakpoints.mobile {
        font-size: 2.125rem;
        line-height: 2.5rem;
    }
}

@mixin text-xs-mono($color: var(--text)) {
    font-size: $font-size-xs;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    line-height: 1rem;
    color: $color;
}

@mixin text-sm-mono($color: var(--text)) {
    font-size: $font-size-sm;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    line-height: 1.25rem;
    color: $color;

    @include breakpoints.mobile {
        font-size: 0.8125rem;
        line-height: 1.125rem;
    }
}

@mixin text-lg-mono($color: var(--text)) {
    font-size: $font-size-lg;
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.5rem;
    color: $color;

    @include breakpoints.mobile {
        font-size: 1rem;
        line-height: 1.375rem;
    }
}
