@use 'styles/mixins/layout';
@use 'styles/typography';

.ProfilePersonalInfo {
    @include layout.flexColumn;
    gap: 16px;
}

.ProfilePersonalInfo__topWrapper {
    @include layout.spaceBetweenY;
}

.ProfilePersonalInfo__icon {
    color: var(--accent);
}

.ProfilePersonalInfo__button {
    @include layout.centerY;
    background-color: transparent;
    color: var(--text-2);
    cursor: pointer;
    gap: 6px;
    transition: color 0.2s;

    &:hover {
        color: var(--text);

        .ProfilePersonalInfo__editText {
            color: var(--text);
        }
    }
}

.ProfilePersonalInfo__editText {
    @include typography.text-sm(var(--text-2));
    transition: color 0.2s;
}
