@use 'styles/typography';
@use 'styles/mixins/layout';

.SegmentedControl {
    @include layout.centerY;
    padding: 4px;
    border-radius: 10px;
    background-color: var(--surface-3);

    &--round {
        border-radius: 9999px;
    }

    &--disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

.SegmentedControl__text {
    @include typography.text-sm(var(--text-2));
    padding: 6px 16px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    transition:
        background-color 0.3s,
        border-color 0.3s,
        color 0.3s;

    &--active {
        color: var(--text);
        font-weight: 600;
        background-color: var(--surface);
        border-color: var(--border);
    }

    &--round {
        border-radius: 9999px;
    }

    &--disabled {
        cursor: not-allowed;
    }
}
