@use 'styles/mixins/layout';
@use 'styles/typography';
@use 'styles/colors';
@use 'styles/mixins/breakpoints';

.ProfileForm {
    @include layout.flexColumn;
    gap: 16px;

    label {
        @include typography.text-sm(var(--text-2));
        margin-bottom: 4px;
    }
}

.ProfileForm__nameWrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    @include breakpoints.mobile {
        flex-direction: column;
    }
}

.ProfileForm__labelWrapper {
    @include layout.flexColumn;

    &.--half {
        width: 50%;

        @include breakpoints.mobile {
            width: 100%;
        }
    }
}

.ProfileForm__inputsWrapper {
    @include layout.flexColumn;
    gap: 12px;
}

.ProfileForm__submitButtonText {
    @include layout.centerXY;
    gap: 8px;
}

.ProfileForm__errorText {
    @include typography.text-error;
}
