@use 'styles/typography';
@use 'styles/mixins/layout';
@use 'styles/mixins/components';
@use 'styles/mixins/breakpoints';

.FocusTimeEntryHistory {
    @include components.box-base;
}

.FocusTimeEntryHistory__searchInput {
    max-width: 250px;
    width: 100%;
    min-width: 0;

    @include breakpoints.mobile {
        max-width: 100%;
    }
}

.FocusTimeEntryHistory__title {
    @include typography.text-md;
    font-weight: 700;
}

.FocusTimeEntryHistory__headerWrapper {
    @include layout.spaceBetweenY;

    @include breakpoints.mobile {
        flex-wrap: wrap;
        gap: 12px;
    }
}

.FocusTimeEntryHistory__loadMoreButton {
    margin-top: 16px;
    width: fit-content;
    margin-inline: auto;
}
