@use 'styles/typography';
@use 'styles/mixins/layout';
@use 'styles/mixins/components';
@use 'styles/mixins/breakpoints';

.FocusTimeEntryHistory {
    @include components.box-base;
}

.FocusTimeEntryHistory__searchInput {
    max-width: 250px;
    width: 100%;
    min-width: 0;

    @include breakpoints.mobile {
        max-width: 100%;
    }
}

.FocusTimeEntryHistory__title {
    @include typography.text-md;
    font-weight: 700;
}

.FocusTimeEntryHistory__headerWrapper {
    @include layout.spaceBetweenY;

    @include breakpoints.mobile {
        flex-wrap: wrap;
        gap: 12px;
    }
}

.FocusTimeEntryHistory__loadMoreButton {
    margin-top: 16px;
    width: fit-content;
    margin-inline: auto;
}

.FocusTimeEntryHistory__emptyWrapper {
    @include layout.flexColumn;
    align-items: center;
    text-align: center;
    padding-block: 8px 16px;
}

.FocusTimeEntryHistory__emptyIcon {
    @include layout.centerXY;
    background-color: var(--accent-soft);
    border-radius: 16px;
    margin-inline: auto;
    width: 58px;
    height: 58px;
    margin-bottom: 16px;

    svg {
        color: var(--accent);
    }
}

.FocusTimeEntryHistory__emptyTitle {
    @include typography.text-lg;
}

.FocusTimeEntryHistory__emptyDescription {
    @include typography.text-md(var(--text-2));
    max-width: 320px;
}

.FocusTimeEntryHistory__emptyWrapper button {
    margin-inline: auto;
    margin-top: 24px;
}
