@use 'styles/typography';
@use 'styles/mixins/layout';
@use 'styles/mixins/breakpoints';

.Button {
    @include layout.centerXY;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 24px;
    max-width: fit-content;
    width: 100%;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }

    @include breakpoints.mobile {
        padding: 8px 16px;
    }
}

.Button__full {
    max-width: 100%;
}

.Button--primary {
    background-color: var(--accent);
    color: var(--white);
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--accent-text);
    }
}

.Button--outline {
    background-color: transparent;
    color: var(--text);
    border: 1px solid var(--border);
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--surface-2);
    }
}

.Button--danger {
    background-color: var(--danger);
    color: var(--white);
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--danger-hover);
    }
}

.Button--outline-danger {
    background-color: transparent;
    color: var(--danger);
    outline: 1px solid var(--danger);
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--danger);
        color: var(--white);
    }
}

.Button--outline-success {
    background-color: transparent;
    color: var(--success);
    outline: 1px solid var(--success);
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--success);
        color: var(--white);
    }
}

.Button__text {
    @include typography.text-sm;
    font-weight: 700;
    color: inherit;
}

.Button__chevronRight {
    margin-left: 12px;
}

.Button_playIcon {
    margin-right: 8px;
    fill: var(--white);
}

.Button__spinner {
    margin-left: 10px;
}
