@use 'styles/mixins/layout';
@use 'styles/mixins/breakpoints';

.TaskDetailSkeleton {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include breakpoints.mobile {
        padding: 16px;
    }
}

.TaskDetailSkeleton__header {
    @include layout.spaceBetweenY;

    @include breakpoints.mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}

.TaskDetailSkeleton__headerActions {
    @include layout.centerY;
    gap: 16px;
}

.TaskDetailSkeleton__columns {
    display: flex;
    gap: 24px;

    @include breakpoints.tablet {
        flex-direction: column;
    }
}

.TaskDetailSkeleton__left {
    @include layout.flexColumn;
    width: 70%;
    gap: 12px;

    @include breakpoints.tablet {
        width: 100%;
    }
}

.TaskDetailSkeleton__right {
    @include layout.flexColumn;
    width: 30%;
    gap: 24px;

    @include breakpoints.tablet {
        width: 100%;
    }
}

.TaskDetailSkeleton__row {
    @include layout.centerY;
    gap: 8px;
}

.TaskDetailSkeleton__label {
    margin-top: 12px;
}
