@use 'styles/mixins/layout';
@use 'styles/typography';

.LabelColorForm {
    @include layout.flexColumn;
    width: 100%;
    gap: 16px;
}

.LabelColorForm__buttonsWrapper {
    @include layout.centerY;
    justify-content: flex-end;
    gap: 8px;
}

.LabelColorForm__input {
    height: 38px;
}

.LabelColorForm__button {
    padding: 6px 12px;

    span {
        @include typography.text-xs;
        color: inherit;
    }
}

.LabelColorForm__errorText {
    @include typography.text-error;
}

.LabelColorForm__colorLabel {
    @include typography.text-xs(var(--text-3));
    display: block;
    margin-bottom: 8px;
}
