@use 'styles/mixins/layout';
@use 'styles/mixins/breakpoints';
@use 'styles/typography';

.ComingSoon {
    @include layout.flexColumn;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 36px;
    text-align: center;

    @include breakpoints.tablet {
        padding: 24px;
    }

    @include breakpoints.mobile {
        padding: 16px;
    }
}

.ComingSoon__icon {
    @include layout.centerXY;
    background-color: var(--accent-soft);
    color: var(--accent);
    border-radius: 16px;
    width: 58px;
    height: 58px;
    margin-bottom: 16px;
}

.ComingSoon__title {
    @include typography.text-xl;
    margin-bottom: 8px;
}

.ComingSoon__description {
    @include typography.text-md(var(--text-2));
    max-width: 360px;
}
