@use 'styles/mixins/layout';

.ColorField__colorRow {
    @include layout.centerY;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 8px;
}

.ColorField__colorSwatch {
    @include layout.centerXY;
    border-radius: 50%;
    border: 2px solid transparent;
    padding: 0;
    cursor: pointer;
    color: var(--text);
}

.ColorField__colorSwatch--sm {
    width: 24px;
    height: 24px;
}

.ColorField__colorSwatch--md {
    width: 36px;
    height: 36px;
}

.ColorField__colorSwatch--selected {
    border-color: var(--text);
}

.ColorField__customColorButton {
    background-color: var(--surface-2);
}

:global(.react-colorful).ColorField__colorPicker {
    width: 160px;
    height: 160px;
    margin-inline: auto;
    margin-top: 12px;

    :global(.react-colorful__hue) {
        height: 16px;
    }

    :global(.react-colorful__pointer) {
        width: 12px;
        height: 12px;
        border-width: 1px;
    }
}
