@use 'styles/mixins/layout';

.FocusView {
    @include layout.flexColumn;
    gap: 24px;
    padding: 24px;
}

.FocusView__stopwatchWrapper {
    @include layout.centerXY;
    width: 100%;
}

.FocusView__stopwatchItem {
    border: 1px solid var(--border);
    background-color: var(--surface);
    border-radius: 10px;
    min-height: 400px;
    width: 100%;
    max-width: 480px;
}
