@use 'styles/typography';
@use 'styles/mixins/layout';

.NewTaskModal {
    padding: 24px;
    border-radius: 20px;
    background-color: var(--surface);
    width: min(500px, 90vw);
}

.NewTaskModal__title {
    @include typography.text-xl;
    font-weight: 700;
    margin-bottom: 16px;
}

.NewTaskModal__inputsWrapper {
    @include layout.flexColumn;
    gap: 12px;
}

.NewTaskModal__halfInputWrapper {
    @include layout.centerY;
    gap: 12px;
}

.NewTaskModal__halfInput {
    width: 50%;
}

.NewTaskModal__labelWrapper {
    @include layout.flexColumn;
}

.NewTaskModal__labelText {
    @include typography.text-sm(var(--text-2));
    margin-bottom: 4px;
    width: max-content;
}

.NewTaskModal__errorText {
    @include typography.text-error;
}

.NewTaskModal__buttonsWrapper {
    @include layout.centerY;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 32px;
}

.NewTaskModal__buttonText {
    @include layout.centerXY;
    gap: 8px;
}

.NewTaskModal__emptyOption {
    @include layout.centerY;
    @include typography.text-sm(var(--text));
    gap: 8px;
}

.NewTaskModal__emptyOptionWrapper {
    @include layout.spaceBetweenY;
    padding: 8px 12px;
    border-radius: 8px;

    svg {
        color: var(--text-2);
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
            color: var(--text);
        }
    }
}

.NewTaskModal__linkWrapper {
    @include layout.centerY;
    @include typography.text-md;
    gap: 8px;
    margin-top: 4px;
    transition: color 0.2s;
    cursor: pointer;
    max-width: fit-content;

    &:hover {
        color: var(--accent);
    }
}

.NewTaskModal__spacingLinks {
    margin-top: 4px;
    margin-bottom: 10px;
}

.NewTaskModal__closeLinkIcon {
    color: var(--text-2);
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        color: var(--accent);
    }
}

.NewTaskModal__linkItemWrapper {
    @include layout.centerY;
    gap: 8px;
    margin-bottom: 8px;

    a {
        flex: 1;
        min-width: 0;
    }
}

.NewTaskModal__createdLinkItemWrapper {
    margin-block: 4px;
}
