@use 'styles/mixins/breakpoints';

.ProjectsView {
    padding: 32px;

    @include breakpoints.tablet {
        padding: 24px;
    }

    @include breakpoints.mobile {
        padding: 16px;
    }
}

.ProjectsView__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(116px, auto);
    gap: 24px;

    @include breakpoints.tablet {
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoints.mobile {
        grid-template-columns: 1fr;
    }
}

.ProjectsView__deleteIcon {
    color: var(--danger);
}
