@use 'styles/mixins/layout';
@use 'styles/mixins/breakpoints';
@use 'styles/typography';

.AuthView {
    @include layout.flexColumn;
    min-height: 100dvh;
    width: 100%;
    padding: 36px;

    @include breakpoints.tablet {
        max-width: 100%;
        padding: 24px;
    }

    @include breakpoints.mobile {
        padding: 16px;
    }
}

.AuthView__errorMessage {
    @include typography.text-error;
}

.AuthView__alignCenter {
    @include layout.centerXY;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-width: 400px;
    margin-inline: auto;

    @include breakpoints.tablet {
        justify-content: start;
        padding-top: 64px;
    }

    @include breakpoints.mobile {
        align-items: flex-start;
        padding-top: 24px;
    }
}

.AuthView__content {
    width: 100%;
}

.AuthView__alreadyHaveAccount {
    @include typography.text-sm;
    color: var(--text-2);
    text-align: center;
    margin-block: 12px;
}
