@use 'styles/mixins/layout';
@use 'styles/typography';
@use 'styles/mixins/breakpoints';

.TaskDetailView {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include breakpoints.mobile {
        padding: 16px;
    }
}

.TaskDetailView__header {
    @include layout.spaceBetweenY;

    @include breakpoints.mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}

.TaskDetailView__columns {
    display: flex;
    gap: 24px;

    @include breakpoints.tablet {
        flex-direction: column;
    }
}

.TaskDetailView__left {
    width: 70%;

    @include breakpoints.tablet {
        width: 100%;
    }
}

.TaskDetailView__right {
    @include layout.flexColumn;
    width: 30%;
    gap: 24px;

    @include breakpoints.tablet {
        width: 100%;
    }
}

.TaskDetailView__back {
    @include layout.centerY;
    @include typography.text-sm(var(--text-2));
    max-width: fit-content;
    gap: 4px;
    transition: color 0.2s;

    svg {
        transition: transform 0.2s;
    }

    &:hover {
        color: var(--text);

        svg {
            transform: translateX(-2px);
        }
    }
}

.TaskDetailView__headerActions {
    @include layout.centerY;
    gap: 16px;

    @include breakpoints.mobile {
        flex-wrap: wrap;
    }
}

.TaskDetailView__buttonContent {
    @include layout.centerXY;
    gap: 8px;
}

.TaskDetailView__badges {
    @include layout.centerY;
    flex-wrap: wrap;
    gap: 8px;
}

.TaskDetailView__heading {
    @include typography.text-sm(var(--text-2));
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 8px;
}

.TaskDetailView__text {
    @include typography.text-md;
    font-weight: 400;
}

.TaskDetailView__linksWrapper {
    @include layout.flexColumn;
    gap: 4px;
}

.TaskDetailView__timeTrackOffWrapper {
    @include layout.spaceBetweenY;
    gap: 8px;
}

.TaskDetailView__settingsIcon {
    @include layout.centerXY;
    border-radius: 10px;
    border: 1px solid var(--border);
    background-color: var(--surface);
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s;

    svg {
        color: var(--text-2);
    }

    &:hover {
        background-color: var(--surface-2);
        border-color: var(--border-focused);
    }
}

.TaskDetailView__settingsPopover {
    padding: 8px;
}

.TaskDetailView__settingsTimetrack {
    @include layout.spaceBetweenY;
    gap: 16px;
}

.TaskDetailView__settingsTimetrack p {
    @include typography.text-sm;
    white-space: nowrap;
}
